html, body {
  font-family: 'Poppins' !important;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden !important;
}

* {
  overflow: hidden;
}

img {
  margin: 0 auto;
  margin-top: 237px;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 158px;
}

:focus {
  outline: none;
  box-shadow: none;
}

.wrong-creds {
  font-size: 17px;
  /* padding-left: 25px; */
  padding-bottom: 15px;
  /* text-align: center; */
}


.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

input {
  border-radius: 0;
  border: 0;
  margin-top: 7px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: black;

}

.btn {
  color: white;
  /* margin-left: 30px; */
  width: 100%;
  height: 54.67px;
  background: #FF003D;
  border-radius: 7px;
  margin-top: 15px;

}

button:disabled,
button[disabled] {
  width: 100%;
  height: 54.67px;
  background: #D9D9D9;
  border-radius: 7px;
}


.mt-1 {
  display: flex;
  /* padding: 10px; */
  justify-content: space-between;
  margin-top: 15px
}

label {
  font-size: 21px;

  color: rgba(0, 0, 0, 0.5);
}


.pink {
  color: rgba(253, 58, 128, 255);
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.forgotPassword {
  padding-top: 20px;
  float: right;
}

.form-floating {
  margin-top: 27px;

}

.footer {
  position: relative;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(195, 195, 195, 1);
  margin-top: 12px;
}