<div class="container">

  <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">


  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email"  required>
    <label for="email">Email</label>
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
      Full Name is required and must be text.
    </div>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="password" formControlName="password" placeholder="Password" required>
      <label for="password">Password</label>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
        Full Name is required and must be text.
      </div>
      </div>
    <button type="submit" class="btn">Register</button>

      </form>
</div>